/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#board{width:530px; height:530px;}
.square, .fence {float:left;}
.square {width:50px; height:50px; background-color: #742;}
.fence {width:10px; height:50px; background-color: #c75;}
.fence.selected {background-color: #cc5;}
.fence.horizontal {height:10px; width:50px; padding:0 5px;}
.fence.horizontal.left{padding-left:0;}
.fence.horizontal.right{padding-left:0;}
